@page
@model ByteBound.Pages.User.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ApplicationUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUsers.ID" />
            <div class="form-group">
                <label asp-for="ApplicationUsers.Username" class="control-label"></label>
                <input asp-for="ApplicationUsers.Username" class="form-control" />
                <span asp-validation-for="ApplicationUsers.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.Password" class="control-label"></label>
                <input asp-for="ApplicationUsers.Password" class="form-control" />
                <span asp-validation-for="ApplicationUsers.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.Email" class="control-label"></label>
                <input asp-for="ApplicationUsers.Email" class="form-control" />
                <span asp-validation-for="ApplicationUsers.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.VerificationStatus" class="control-label"></label>
                <input asp-for="ApplicationUsers.VerificationStatus" class="form-control" />
                <span asp-validation-for="ApplicationUsers.VerificationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.Score" class="control-label"></label>
                <input asp-for="ApplicationUsers.Score" class="form-control" />
                <span asp-validation-for="ApplicationUsers.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.CardNumber" class="control-label"></label>
                <input asp-for="ApplicationUsers.CardNumber" class="form-control" />
                <span asp-validation-for="ApplicationUsers.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.CardCVV" class="control-label"></label>
                <input asp-for="ApplicationUsers.CardCVV" class="form-control" />
                <span asp-validation-for="ApplicationUsers.CardCVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUsers.CardExpiry" class="control-label"></label>
                <input asp-for="ApplicationUsers.CardExpiry" class="form-control" />
                <span asp-validation-for="ApplicationUsers.CardExpiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
