/* Global styles */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

    header h1 {
        color: #0f0;
        text-align: center;
        font-size: 36px;
        margin: 0;
    }

/* Navigation styles */
nav {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 20px;
}

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }

/* Container styles */

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
}

/* Main content styles */
main {
    margin-top: 20px;
}

    main h2 {
        color: #0f0;
        font-size: 24px;
        border-bottom: 2px solid #0f0;
        padding-bottom: 5px;
    }

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #0f0;
    padding: 10px;
}

th {
    background-color: #111;
}

/* Footer styles */
footer {
    background-color: #111;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

    footer p {
        margin: 0;
    }

/* Additional styles for hacker effect (optional) */
/* Feel free to customize or remove these effects as per your preference */
h1, h2, h3, h4, h5, h6 {
    border-bottom: 2px solid #0f0;
}

a:hover {
    color: #0f0;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0f0;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #00ff00;
    }
